#dendrogramHolder {
	float: left;
	position: relative;
}

#rightBar {
	right: 0;
	top: 0;
	position: fixed;
}

	
#bottomBar {
	left: 0;
	bottom: 0;
	position: fixed;
}

#settings {
	overflow: auto;	
}

.min_max {
	background-color: #ededed;
	font-size: xx-large;
	border: 1px solid;
}

#tegments {
	white-space: nowrap;
}

.source {
	text-align: right;
}

.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

fieldset {
	background-color: #f4f4f4;	
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}
